@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway&display=swap");

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 100px;
  transition: all 0.8s;
}

section.dark {
  background-color: #444857;
  color: #fff;
  background: linear-gradient(to bottom, #434343, #444857);
  transition: all 0.8s;
}

section p {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 32px;
  text-align: justify;
}

ul {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 30px;
  z-index: 1;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s;
}

ul.active {
  border-color: #fff;
  transition: all 0.8s;
}

ul li {
  list-style: none;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

ul.active li {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

ul li span {
  color: #fff;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

ul li span:nth-child(1) {
  background-color: #2d303a;
  color: #fff;
}
